body {
  padding: 0 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
}

nav {
  text-align: left;
}

#nav-bar {
  width: 160px;
  background-color: cadetblue;
}

#nav-bar button {
  width: 150px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#sign-up {
  margin-top: 10px;
}

#float-card {
  position: absolute;
  left: 550px;
  top: 315px;
  padding: 0 20px;
  width: 500px;
  font-size: large;
  text-align: justify;
}

h1 {
  /* color: white; */
  position: relative;
  left: 500px;
  top: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: azure;
  width: 275px;
}

#header {
  background-image: url("https://as1.ftcdn.net/v2/jpg/03/35/79/48/500_F_335794855_duCPzFz0Vilc0szt1IaMxAlcnMtct87M.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 300px;
}

#game-list {
  position: relative;
  left: 200px;
  top: -150px;
  font-size: large;
}

input {
  width: 80%;
}

form {
  position: relative;
  left: 180px;
  top: -165px;
  font-size: large;
}

#game-section {
  position: relative;
  left: 250px;
  top: -160px;
  font-size: large;
  width: 500px;
  text-align: justify;
}

#add-game-form {
  position: relative;
  left: 0px;
  top: 10px;
}

.note {
  position: absolute;
  top: 0px;
  left: 550px;
  width: auto;
}

.note p#username {
  font-size: small;
}

#note-form {
  position: relative;
  top: 15px;
  left: 0px;
}

#sign-up-form {
  width: 500px;
}

#login-submit {
  margin-top: 10px;
}

#game-section button {
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
}

#welcome-user {
  width: 100px;
  position: relative;
  left: 10px;
}
