h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.top-right {
  float: right;
}

.bottom-right {
  text-align: right;
}

.top-left {
  text-align: left;
}

.top-right {
  text-align: left;
}

body {
  padding: 0 20px;
}
